<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Spring eCommerce</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
</head>

<body>
  <!-- Include the header fragment -->
  <div th:replace="administrador/template_admin :: header"></div>

  <!-- Page Content -->
  <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
      Spring <small>Productos</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Ver Productos</li>
    </ol>

    <a class="btn btn-primary" th:href="@{/productos/create}">Crear Producto</a><!--redericcionamos_-->
    
    <h2>Productos</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Inventario</th>
          <th scope="col">Precio</th>
          <th scope="col">Acción</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
		  
		  
		  <!--each nos permite recorrer una lista_ productos = la variable de la lisra {productos:defiicion en:productoControler}-->
        <tr th:each="producto:${productos}"><!--obtiene lo que se envio del bd /-->
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.descripcion}"></td>
        <td th:text="${producto.cantidad}"></td>
        <td th:text="${producto.precio}"></td>
        
        <!--@apuntamos asia el controlador productos/url edit/y le vamos a pasar un id como parametro en la URL/ =que valor va llevar esta id -->
         <!--id variable nombre iguales quele estamos enviando / (=${producto.id})obtenemos el valor de producto y obtenemos el id -->
          <td><a class="btn btn-warning" th:href="@{productos/edit/{id}(id=${producto.id})}">Editar</a></td>
          
          <td><a class="btn btn-danger" href="#">Eliminar</a></td>
        </tr>
        
        
        
      </tbody>
    </table>
  </div>
  <!-- /.container -->

  <!-- Include the footer fragment -->
  <div th:replace="administrador/template_admin :: footer"></div>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>
