<!DOCTYPE html>
<!-- Plantilla Thymeleaf: motor de plantillas -->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Spring eCommerce</title>

  <!-- Bootstrap core CSS (sentencias Thymeleaf) -->
  <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{css/heroic-features.css}" rel="stylesheet">
</head>
<body>
  <!-- Navigation -->
  <!-- Llamamos al fragmento/ubicación/nombre -->
  <div th:include="administrador/template_admin.html::header"></div>

  <!-- Page Content -->
  <div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Bienvenido a mi Pagina 2023</h1>
      <p class="lead">Tu tienda de productos en Línea</p>
    </header>

    <!-- Page Features -->
    <div class="row text-center">
      <!-- En producto se pondrá lo que trae la variable -->
      <div class="col-lg-3 col-md-6 mb-4" th:each="producto:${productos}"> <!-- producto_de_Administrador_controler -->
        <div class="card h-100">
			
          <!-- Recurso imagen/d,variable/(img sea igual a lo que traiga producto en cada interacción, y voy a obtener la imagen ya que imagen es la variable donde se almacena el nombre de la imagen) -->
          <!-- En img, el nombre de la imagen, images/** apuntaría a que este directorio vaya y cargue el nombre de cada imagen para cada producto -->
          <img class="card-img-top" th:src="@{/images/{img}(img=${producto.imagen})}" alt="">
          <div class="card-body">      <!---nombre de producto -->
            <p class="card-text"   th:text="${producto.nombre}"></p>
          </div>
          <div class="card-footer">
            <a href="productohome.html" class="btn btn-success">Ver producto</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->

  <!-- Footer / Llamo al fragmento -->
  <div th:include="administrador/template_admin.html::footer"></div>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>

